body {
    background-color: black;
    color: white;
}

#home-container {
    overflow-y: auto;
    width: 100%;
    padding: 25px;
    max-width: 500px;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 500px;
}

.home-sub-container {
    margin: 5px 0px;
}

#home-buttons-container {
    display: flex;
    width: 100%;
}

@media (max-width: 500px) {

    #home-buttons-container {
        flex-direction: column;
    }
    
    .button-container {
        border: 0px !important;
    }

    #left-button-container {
        margin-bottom: 10px;
    }
}

.button-container {
    display: flex;
    height: 40px;
    justify-content: center;
    width: 100%;
}

#left-button-container {
    border-right: 1.5px solid white;
}

#right-button-container {
    border-left: 1.5px solid white;
}

.simulation-button {
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    height: 100%;
    text-align: center;
    width: 200px;
}

#new-simulation-button {
    background-color: cornflowerblue;
}

#new-simulation-button:hover {
    background-color: #4580e9;
}

#existing-simulation-button {
    background-color: darkorchid;
}

#existing-simulation-button:hover, #existing-simulation-button:focus {
    background-color: #892db7; /* 10% darker */
}

#existing-simulation-button::placeholder {
    color: white;
}

.form-group {
    display: flex;
    margin: 10px 0px;
}

.form-group > * {
    flex: 1;
}

input, select {
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    margin: 0px;
    padding: 0px 5px;
    width: 100%;
}

.simulate-button {
    background-image: linear-gradient(to right, #224cdc, #c845a5);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    height: 40px;
}

.simulate-button:hover {
    background-image: linear-gradient(to right, #1b3cb0, #a63186);
}

#progress-bar-container {
    background-color: white;
    border-radius: 5px;
    height: 40px;
}

#progress-bar {
    background-color: limegreen;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 40px;
    width: 0%;
}

input[type=file] {
    padding: 0px;
}

#title:hover {
    color: darkgrey;
}

#error {
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    font-weight: 500;
    text-align: center;
    width: 100%;
}

.simulation-form {
    width: 100%;
}

@media (max-height: 550px) {
    #links {
        display: none !important;
    }
}

@media (max-width: 500px) {

    .simulation-form label {
        margin-right: 5px;
    }

    #new-simulation-form label {
        flex: 1;
        font-size: 0.8em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #new-simulation-form input {
        flex: 1;
    }
}

#links {
    top: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    font-size: 0.8em;
}

#links a {
    margin: 0px 5px;
}

.link {
    color: white !important;
    text-align: center;
    text-decoration: none;
    width: 100px;
}

.link a {
    color: white !important;
    text-decoration: none; 
}

.link:hover a {
    color: darkgrey !important;
}

.link:first-child {
    border-right: 0.5px solid darkgrey;
}

#dont-fancy-waiting-text.desktop {
    display: block;
}

#dont-fancy-waiting-text.mobile {
    display: none;
}

#dont-fancy-waiting-text {
    font-size: 0.9em;
    margin-bottom: 10px;
    text-align: justify;
}

#dont-fancy-waiting-container {
    display: flex;
}

@media (max-width: 500px) {
    #dont-fancy-waiting-text.desktop {
        display: none;
    }

    #dont-fancy-waiting-text.mobile {
        display: block;
    }

    #dont-fancy-waiting-container {
        flex-direction: column;
    }

    #dont-fancy-waiting-container input {
        border-radius: 5px;
        height: 40px;
        margin-bottom: 10px;
    }
}

#add-custom-club-button {
    align-items: center;
    background-color: limegreen;
    border: 0px;
    border-radius: 5px;
    color: white;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    margin: 0px 0px 0px 10px;
    max-width: 50%;
    padding: 0px;
    width: 50px;                    
}

#add-custom-club-button:hover {
    background-color: #28a428;
}

#custom-clubs {
    display: none;
    font-size: 0.8em;
}

#custom-club-error {
    color: red;
    font-size: 0.8em;
}

#custom-clubs-list {
    padding: 5px 0px 0px 0px;
}

.custom-club-container {
    background-color: grey;
    border-radius: 5px;
    display: inline-flex;
    margin: 2px;
    padding: 5px;
}

.custom-club-remove-button {
    color: white;
    font-weight: bold;
    padding: 0px 5px;
}

.custom-club-remove-button:hover {
    cursor: pointer;
    color: red;
}