{% extends 'desktop/rest_of_website.html' %}
{% block content %}
<div id="main">
   <div style="display: flex; justify-content: center; margin: 25px 0px; width: 100%">
      <div style="text-align: justify; width: 50%;">
         <h3>The <b>Contact</b> page</h3>
         <ul style="padding-inline-start: 20px;">
            <li>
               Email me at <a href="mailto:wjrm500@gmail.com" style="color: blue; text-decoration: underline;">wjrm500@gmail.com</a>
            </li>
            <li>
               Find me on <a href="https://www.linkedin.com/in/william-may-6893371a3/" style="color: blue; text-decoration: underline;">LinkedIn</a>
            </li>
            <li>
               Or find out more about me and my other interests on <a href="https://wjrm500.com" style="color: blue; text-decoration: underline;">my website</a>
            </li>
         </ul>
    </div>
</div>
{% endblock %}