{% extends 'desktop/home.html' %}

{% block home_body %}
    <div class="button-container">
        <form method="post" id="new-simulation-form" class="simulation-form">
            <div class="form-group">
                <label for="system">
                    System<span style="color:#cccccc">*</span>
                </label>
                <div>
                    <select id="system-select" name="system">
                        {% for system in systems %}
                            <option value="{{ system._id }}">
                                {{ system.system_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="num-clubs">
                    Num. clubs<span style="color:#cccccc">*</span>
                </label>
                <div>
                    <input type="number" id="num-clubs" name="num-clubs" min="8" max="32" step="2" required>
                </div>
            </div>
            <div class="form-group">
                <label for="num-players-per-club">
                    Num. players per club<span style="color:#cccccc">*</span>
                </label>
                <div>
                    <input type="number" name="num-players-per-club" min="15" max="40" required>
                </div>
            </div>
            <div class="form-group">
                <label for="custom-club">
                    Add custom club
                </label>
                <div style="display: flex; height: 25px;">
                    <input type="text" id="custom-club" name="custom-club" spellcheck="false">
                    <button id="add-custom-club-button">
                        <i class="fas fa-plus" style="font-size: 0.7em;"></i>
                    </button>
                </div>
            </div>
            <div id="custom-club-error"></div>
            <div id="custom-clubs">
                <hr>
                <div id="custom-clubs-heading">Custom clubs:</div>
                <div id="custom-clubs-list"></div>
            </div>
            <div style="color:#cccccc; font-size:0.8em; font-style:italic; text-align:center;">* = required</div>
            <hr style="margin:0.5rem 0rem 1rem 0.5rem">
            <div class="form-group">
                <button class="simulate-button">
                    <div id="text">
                        Simulate
                    </div>
                    <div id="spinner" style="display: none; padding: 10px;">
                        <img src="/static/images/spinner-cropped.gif" style="height: 15px;">
                    </div>
                </button>
            </div>
        </form>
    </div>
{% endblock %}