{% extends 'desktop/home.html' %}

{% block home_body %}
    <div id="left-button-container" class="button-container">
        <button id="new-simulation-button" class="simulation-button" data-url="{{ basePath }}/new-simulation">
            <div class="text">
                New Simulation
            </div>
            <div class="spinner" style="display: none; padding: 10px;">
                <img src="{{ basePath }}/static/images/spinner-cropped.gif" style="height: 15px;">
            </div>
        </button>
    </div>
    <div id="right-button-container" class="button-container">
        <button id="existing-simulation-button" class="simulation-button" data-url="{{ basePath }}/existing-simulation">
            <div class="text">
                Existing Simulation
            </div>
            <div class="spinner" style="display: none; padding: 10px;">
                <img src="{{ basePath }}/static/images/spinner-cropped.gif" style="height: 15px;">
            </div>
        </button>
    </div>
{% endblock %}