{% extends 'desktop/base.html' %}
{% block body %}
<div style="align-items: center; display: flex; height: 100%; justify-content: center;">
    <div id="home-container">
        <a href="{{ basePath or '/' }}" id="logo-title-container" class="home-sub-container">
            <img id="logo" class="logo-title-element" src="{{ basePath }}/static/images/soccersim_logo.png">
            <div id="title" class="logo-title-element">Soccer Simulation</div>
        </a>
        <div id="home-buttons-container" class="home-sub-container">
            {% block home_body %}
            {% endblock %}
        </div>
    </div>
    <div id="links">
        <div class="link">
            <a href="{{ basePath }}/about">About</a>
        </div>
        <div class="link">
            <a href="{{ basePath }}/contact">Contact</a>
        </div>
    </div>
</div>
{% endblock %}