<div id="nav">
    <a href="/" id="logo-title-container" class="home-sub-container nav-element">
        <img id="logo" class="logo-title-element" src="/static/images/soccersim_logo.png">
        <div id="title" class="logo-title-element">Soccer Simulation</div>
    </a>
    {% if universe_key|length == 10 %}
        <div class="nav-element">
            <div id="simulation-key-container">
                <div id="simulation-key-label" class="simulation-key-element">
                    Unique Simulation Key:
                </div>
                <div id="simulation-key-value" class="simulation-key-element">
                    <span id="input-simulation-key">{{ universe_key }}</span>
                    <span class="my-tooltip">
                        <i id="copy-simulation-key" class="far fa-copy"></i>
                        <span class="my-tooltiptext below">Copied!</span>
                    </span>
                </div>
            </div>
        </div>
    {% endif %}
    <div id="hyperlink-panel" class="nav-element">
        <a href="/about" id="about-button" class="nav-button">
            <div class="text">About</div>
            <div class="icon"><i class="far fa-address-card"></i></div>
        </a>
        <a href="/contact" id="contact-button" class="nav-button">
            <div class="text">Contact</div>
            <div class="icon"><i class="far fa-envelope"></i></div>
        </a>
        {% if universe_key|length == 10 %}
            <a href="/download/{{ universe_key }}" id="new-simulation-button" class="nav-button">
                <div class="text">Download</div>
                <div class="icon"><i class="fas fa-download"></i></div>
            </a>
        {% endif %}
        <a href="/new-simulation" id="new-simulation-button" class="nav-button">
            <div class="text">New</div>
            <div class="icon"><i class="far fa-plus-square"></i></div>
        </a>
    </div>
</div>