{% extends 'desktop/base.html' %}

{% block body %}
<div class="stretched-grid-item">
    <div id="iframe-header">
        <div id="iframe-title">
            <span>Player Performance</span>
        </div>
        <div id="history-buttons">
            <button id="refresh" class="history-button">
                <i class="fas fa-sync-alt"></i>
            </button>
            <button id="history-back" class="history-button">
                <i class="fas fa-arrow-circle-left"></i>
            </button>
            <button id="history-forward" class="history-button">
                <i class="fas fa-arrow-circle-right"></i>
            </button>
        </div>
    </div>
    <div id="pp-header">
        <div id="views" class="pp-sub-container">
            <div class="pp-button-container">
                <button id="attributes" data-view="attributes" class="view-button">Attributes</button>
            </div>
            <div class="pp-button-container">
                <button id="performance" data-view="performance" class="view-button clicked">Performance</button>
            </div>
        </div>
        <div id="filters" class="pp-sub-container">
            <div id="filter-by-container" class="pp-filter-container">
                <select id="filter-by">
                    <option disabled selected value="">Filter by...</option>
                    <option>Age</option>
                    <option>Club</option>
                    <option>Player</option>
                    <option>Position</option>
                </select>
            </div>
            <div id="filter-detail-container" class="pp-filter-container">
                <div id="filter-age" class="filter-detail" style="align-items: center; display: flex; height: 25px">
                    <div id="age-range-slider-lower-bound" style="flex: 1; font-weight: bold; text-align: center;">25</div>
                    <div id="age-range-slider" style="flex: 4;"></div>
                    <div id="age-range-slider-upper-bound" style="flex: 1; font-weight: bold; text-align: center;">35</div>
                </div>
                <div id="filter-player" class="filter-detail">
                    <input type="text" placeholder="Search for a player...">
                </div>
                <div id="filter-position" class="filter-detail">
                    <select>
                        <option disabled selected value="">Select a position</option>
                        <option value="all">All positions</option>
                        {% for position in filter_positions %}
                            <option value="{{ position }}">{{ position }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="filter-club" class="filter-detail">
                    <select>
                        <option disabled selected value="">Select a club</option>
                        <option value="all">All clubs</option>
                        {% for club in filter_clubs %}
                            <option value="{{ club.id }}">{{ club.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div style="position: relative; width: 100%;">
        <table id="player-performance-proper-table" class="full-table player-performance-table">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>
                    <div class="my-tooltip">
                        <i class="fas fa-crosshairs"></i>
                        <span class="my-tooltiptext below">
                            Position
                        </span>
                    </div>
                </th>
                <th data-sort="unsorted" data-metric="age">
                    <div class="my-tooltip">
                        <i class="fas fa-baby-carriage"></i>
                        <span class="my-tooltiptext below">
                            Age
                        </span>
                    </div>
                </th>
                <th data-sort="unsorted" data-metric="rating">
                    <div class="my-tooltip">
                        <i class="far fa-chart-bar"></i>
                        <span class="my-tooltiptext below">
                            Rating
                        </span>
                    </div>
                </th>
                <th class="pp-attributes" data-sort="unsorted" data-metric="offence">Off</th>
                <th class="pp-attributes" data-sort="unsorted" data-metric="spark">Spa</th>
                <th class="pp-attributes" data-sort="unsorted" data-metric="technique">Tec</th>
                <th class="pp-attributes" data-sort="unsorted" data-metric="defence">Def</th>
                <th class="pp-attributes" data-sort="unsorted" data-metric="authority">Aut</th>
                <th class="pp-attributes" data-sort="unsorted" data-metric="fitness">Fit</th>
                <th class="pp-performance" data-sort="unsorted" data-metric="games">
                    <div class="my-tooltip">
                        <i class="fas fa-tshirt"></i>
                        <span class="my-tooltiptext below">
                            Appearances
                        </span>
                    </div>
                </th>
                <th class="pp-performance" data-sort="unsorted" data-metric="goals">
                    <div class="my-tooltip">
                        <i class="fas fa-futbol"></i>
                        <span class="my-tooltiptext below">
                            Goals
                        </span>
                    </div>
                </th>
                <th class="pp-performance" data-sort="unsorted" data-metric="assists">
                    <div class="my-tooltip">
                        <i class="fab fa-angular"></i>
                        <span class="my-tooltiptext below">
                            Assists
                        </span>
                    </div>
                </th>
                <th class="pp-performance" data-sort="unsorted" data-metric="mvps">
                    <div class="my-tooltip">
                        <i class="fas fa-star"></i>
                        <span class="my-tooltiptext below">
                            MVP Awards
                        </span>
                    </div>
                </th>
                <th class="pp-performance" data-sort="unsorted" data-metric="performance_index">
                    <div class="my-tooltip">
                        <i class="fas fa-star-half-alt" style="color: goldenrod;"></i>
                        <span class="my-tooltiptext to-left">
                            Average Performance Index
                        </span>
                    </div>
                </th>
            </tr>
            {% for player, performance_indices in player_performance_items.items() %}
                <tr class="clickable-row" data-player-id="{{ player.id }}">
                    <td>{{ loop.index }}</td>
                    <td>
                        <div class="player-row-top">
                            {{ player.get_proper_name() }}
                        </div>
                        <div class="player-row-bottom" data-club-id="{{ player.club.id }}" style="color: darkgrey; font-size: 0.75em; font-style: italic;">
                            {{ player.club.name }}
                        </div>
                    <td>{{ player.get_best_position() }}</td>
                    <td>{{ '{0:.2f}'.format(player.get_age(2)) }}</td>
                    <td class="player-rating">{{ '{0:.2f}'.format(player.get_rating()) }}</td>
                    <td class="pp-attributes">{{ '{0:.1f}'.format(player.skill_values['offence']) }}</td>
                    <td class="pp-attributes">{{ '{0:.1f}'.format(player.skill_values['spark']) }}</td>
                    <td class="pp-attributes">{{ '{0:.1f}'.format(player.skill_values['technique']) }}</td>
                    <td class="pp-attributes">{{ '{0:.1f}'.format(player.skill_values['defence']) }}</td>
                    <td class="pp-attributes">{{ '{0:.1f}'.format(player.skill_values['authority']) }}</td>
                    <td class="pp-attributes">{{ '{0:.1f}'.format(player.skill_values['fitness']) }}</td>
                    <td class="pp-performance">{{ performance_indices['games'] }}</td>
                    <td class="pp-performance">{{ performance_indices['goals'] }}</td>
                    <td class="pp-performance">{{ performance_indices['assists'] }}</td>
                    <td class="pp-performance">{{ performance_indices['mvps'] }}</td>
                    <td class="pp-performance">{{ '{0:.2f}'.format(performance_indices['performance_index']) }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}