{% extends 'desktop/rest_of_website.html' %}
{% block content %}
<div id="main">
    <div class="half-container">
        <div id="always-data-container" class="data-container">
            <div id="grid-item-standings" class="grid-item">
                <div class="grid-item-title">
                    Standings
                </div>
                <div class="grid-item-content">
                    {% include 'desktop/standings.html' %}
                </div>
            </div>
            <div id="grid-item-performance" class="grid-item">
                <div class="grid-item-title" style="align-items: center; display: flex; justify-content: space-between;">
                    <div>Player performance</div>
                    <a data-url="/simulation/player-performance" style="font-size: 0.8em; text-decoration: underline;">
                        More data
                    </a>
                </div>
                <div class="grid-item-content">
                    {% include 'desktop/player_performance.html' %}
                </div>
            </div>
            <div id="grid-item-results" class="grid-item">
                <div class="grid-item-title">
                    Results
                </div>
                <div class="grid-item-content">
                    {% include 'desktop/results.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="half-container">
        <div id="sometimes-data-container" class="data-container">
            <div id="spinner" style="display: none; padding: 10px;">
                <img src="/static/images/spinner-cropped.gif" style="height: 30px;">
            </div>
            <iframe src="/simulation/default-iframe" id="sometimes-iframe"></iframe>
        </div>
    </div>
</div>
    
{% endblock %}