<table id="league-table" class="full-table">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <th>GF</th>
        <th>GA</th>
        <th>GD</th>
        <th>Pts</th>
    </tr>
    {% for league_table_item in league_table_items %}
        <tr data-club-id="{{ league_table_item[0].id }}">
            <td>{{ loop.index }}</td>
            <td>{{ league_table_item[0].name }}</td>
            <td>{{ league_table_item[1]['W'] }}</td>
            <td>{{ league_table_item[1]['D'] }}</td>
            <td>{{ league_table_item[1]['L'] }}</td>
            <td>{{ league_table_item[1]['GF'] }}</td>
            <td>{{ league_table_item[1]['GA'] }}</td>
            <td>{{ league_table_item[1]['GD'] }}</td>
            <td>{{ league_table_item[1]['Pts'] }}</td>
        </tr>
    {% endfor %}
</table>