{% extends 'desktop/base.html' %}

{% block body %}
<div class="stretched-grid-item">
    <div id="iframe-header">
        <div id="iframe-title">
            <span style="color:lightgrey; font-weight:normal;"><a data-url="{{ basePath }}/simulation/club/{{ player.club.id }}">{{ player.club.name }}</a> ||</span>
        <span>{{ player.getProperName() }}</span>
        </div>
        <div id="history-buttons">
            <button id="refresh" class="history-button">
                <i class="fas fa-sync-alt"></i>
            </button>
            <button id="history-back" class="history-button">
                <i class="fas fa-arrow-circle-left"></i>
            </button>
            <button id="history-forward" class="history-button">
                <i class="fas fa-arrow-circle-right"></i>
            </button>
        </div>
    </div>
    <div id="player-grid" class="grid-item-content">
        <div id="grid-item-summary" class="grid-item">
            <div class="grid-item-content">
                {% include 'desktop/player/player_summary.html' %}
            </div>
        </div>
        <div id="grid-item-stats-radar" class="grid-item">
            <div class="grid-item-content">
                {% include 'desktop/player/player_stats_radar.html' %}
            </div>
        </div>
        <div id="grid-item-games" class="grid-item">
            <div class="grid-item-content">
                {% include 'desktop/player/player_games.html' %}
            </div>
        </div>
        <div id="grid-item-form" class="grid-item">
            <div class="grid-item-content">
                {% include 'desktop/player/player_development.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}