<table id="player-summary-table">
    <tr>
        <td class="table-label">Club</td>
        <td class="table-value">{{ player.club.name }}</td>
    </tr>
    <tr>
        <td class="table-label">Age</td>
        <td class="table-value">{{ player.getAge(2) }}</td>
    </tr>
    <tr>
        <td class="table-label">Rating</td>
        <td class="table-value">{{ '{0:.2f}'.format(player.getRating()) }}</td>
    </tr>
    <tr>
        <td class="table-label">Peak age</td>
        <td class="table-value">{{ '{0:.2f}'.format(player.peakAge) }}</td>
    </tr>
    <tr>
        <td class="table-label">Peak rating</td>
        <td class="table-value">{{ '{0:.2f}'.format(player.peakRating) }}</td>
    </tr>
    <tr>
        <td class="table-label">Best position</td>
        <td class="table-value">{{ player.getBestPosition() }}</td>
    </tr>
</table>