<div id="nav">
    <a href="/" id="logo-title-container" class="home-sub-container nav-element">
        <img id="logo" class="logo-title-element" src="/static/images/soccersim_logo.png">
        <div id="title" class="logo-title-element">Soccer Simulation</div>
    </a>
    <div class="nav-element">
        <div id="simulation-key-container">
            <div id="simulation-key-label" class="simulation-key-element">
                Unique Simulation Key:
            </div>
            <div id="simulation-key-value" class="simulation-key-element">
                <input type="text" value="{{ universeKey }}" disabled>
            </div>
        </div>
    </div>
    <div id="hyperlink-panel" class="nav-element">
        <a href="/about" id="about-button" class="nav-button">
            About
        </a>
        <a href="/contact" id="contact-button" class="nav-button">
            Contact
        </a>
        <a href="/new-simulation" id="new-simulation-button" class="nav-button">
            New Simulation
        </a>
        <a href="/resimulate" id="resimulate-button" class="nav-button">
            Resimulate
        </a>
    </div>
</div>