<table id="player-performance-table">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Games</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Rating</th>
    </tr>
    {% for player, performanceIndices in playerPerformanceItems.items() %}
        <tr class="clickable-row" data-player-id="{{ player.id }}">
            <td>{{ loop.index }}</td>
            <td>
                <div class="player-row-top">
                    {{ player.getProperName() }}
                </div>
                <div class="player-row-bottom">
                    <span>{{ player.club.name }}</span>,
                    <span>{{ player.getAge() }}</span>,
                    <span>{{ player.getBestPosition() }}</span>
                </div>
            </td>
            <td>{{ performanceIndices['games'] }}</td>
            <td>{{ performanceIndices['goals'] }}</td>
            <td>{{ performanceIndices['assists'] }}</td>
            <td>{{ performanceIndices['performanceIndex'] }}</td>
        </tr>
    {% endfor %}
</table>