<table id="league-table" class="full-table">
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <th>GF</th>
        <th>GA</th>
        <th>GD</th>
        <th>Pts</th>
    </tr>
    {% for leagueTableItem in leagueTableItems %}
        <tr data-club-id="{{ leagueTableItem[0].id }}">
            <td>{{ loop.index }}</td>
            <td>
                <!-- <span style="color:#aaaaaa; display:inline-block; font-size:0.9em; font-weight:normal; width:40px">({{ leagueTableItem[0].getShortName() }})</span> -->
                {{ leagueTableItem[0].name }}
                <!-- <img id="number-one-icon" class="league-table-number-icon" src="/static/images/number_one_icon.png">
                <img id="number-two-icon" class="league-table-number-icon" src="/static/images/number_two_icon.png"> -->
            </td>
            <td>{{ leagueTableItem[1]['W'] }}</td>
            <td>{{ leagueTableItem[1]['D'] }}</td>
            <td>{{ leagueTableItem[1]['L'] }}</td>
            <td>{{ leagueTableItem[1]['GF'] }}</td>
            <td>{{ leagueTableItem[1]['GA'] }}</td>
            <td>{{ leagueTableItem[1]['GD'] }}</td>
            <td>{{ leagueTableItem[1]['Pts'] }}</td>
        </tr>
    {% endfor %}
</table>