{% extends 'home.html' %}

{% block home_body %}
    <div class="button-container" style="display: block;">
        <div class="form-group">
            <div id="progress-bar-container">
                <div id="progress-bar" data-universe-key="{{ universeKey }}"></div>
            </div>
        </div>
        <div class="form-group">
            <div id="time-remaining-text" style="font-size: 0.9em; text-align: center">Approximately <span id="seconds-remaining" style="background-color: white; color: black; padding: 2px;">???</span> seconds remaining...</div>
        </div>
        <div style="margin-top: 35px;">
            <label style="font-size: 0.9em; margin-bottom: 10px; text-align: justify;">Don't fancy waiting? Enter your email address below to receive an email notification when your simulation is complete, and then feel free to close this web page and disappear!</label>
            <div style="display: flex;">
                <input id="email-input" type="email" placeholder="Enter your email address" style="margin-right: 10px;">
                <button id="submit-email" class="simulate-button">
                    <div id="text">
                        Submit
                    </div>
                    <div id="spinner" style="display: none; padding: 10px;">
                        <img src="/static/images/spinner-cropped.gif" style="height: 15px;">
                    </div>
                </button>
            </div>
        </div>
    </div>
{% endblock %}