{% extends 'desktop/base.html' %}

{% block body %}
<div class="stretched-grid-item">
    <div id="iframe-header">
        <div id="iframe-title">
            <span>{{ club.name }}</span>
        </div>
        <div id="history-buttons">
            <button id="refresh" class="history-button">
                <i class="fas fa-sync-alt"></i>
            </button>
            <button id="history-back" class="history-button">
                <i class="fas fa-arrow-circle-left"></i>
            </button>
            <button id="history-forward" class="history-button">
                <i class="fas fa-arrow-circle-right"></i>
            </button>
        </div>
    </div>
    <div id="club-grid" class="grid-item-content">
        <div id="grid-item-players" class="grid-item">
            <div class="grid-item-content">
                {% include 'desktop/club/club_players.html' %}
            </div>
        </div>
        <div id="grid-item-progress" class="grid-item">
            <div class="grid-item-content">
                {% include 'desktop/club/club_progress.html' %}
            </div>
        </div>
        <div id="grid-item-results" class="grid-item">
            <div class="grid-item-content">
                {% include 'desktop/club/club_results.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}