<img id="football-pitch-image" src="/static/images/football_pitch_converted.png" style="display: none;">
<div style="display: flex; flex-direction: column; height: 100%">
    <div id="football-pitch-container" style="flex: 2; overflow-x: hidden; overflow-y: auto">
        <canvas id="football-pitch" data-formation="{{ formation }}" data-players="{{ players }}" style="object-fit: scale-down;">
        </canvas>
    </div>
    <div style="flex: 1; overflow-y: auto; position: relative">
        <table id="club-player-performance-table" class="full-table player-performance-table">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th class="pp-performance" data-sort="unsorted" data-metric="games">
                    <div class="my-tooltip">
                        <i class="fas fa-tshirt"></i>
                        <span class="my-tooltiptext below">
                            Appearances
                        </span>
                    </div>
                </th>
                <th class="pp-performance" data-sort="unsorted" data-metric="goals">
                    <div class="my-tooltip">
                        <i class="fas fa-futbol"></i>
                        <span class="my-tooltiptext below">
                            Goals
                        </span>
                    </div>
                </th>
                <th class="pp-performance" data-sort="unsorted" data-metric="assists">
                    <div class="my-tooltip">
                        <i class="fab fa-angular"></i>
                        <span class="my-tooltiptext below-left left-91-percent">
                            Assists
                        </span>
                    </div>
                </th>
                <th class="pp-performance" data-sort="unsorted" data-metric="performance_index">
                    <div class="my-tooltip">
                        <i class="fas fa-star-half-alt" style="color: goldenrod;"></i>
                        <span class="my-tooltiptext below-left">
                            Average Performance Index
                        </span>
                    </div>
                </th>
            </tr>
            {% for player, performance_indices in player_performance_items.items() %}
                <tr class="clickable-row" data-player-id="{{ player.id }}">
                    <td>{{ loop.index }}</td>
                    <td>
                        <div class="player-row-top">
                            <div>{{ player.get_proper_name() }}</div>
                        </div>
                        <div class="player-row-bottom">
                            <span class="player-row-span"><i class="far fa-chart-bar"></i> <span class="rating-span">{{ player.get_rating()|int }}</span></span> ·
                            <span class="player-row-span"><i class="fas fa-crosshairs"></i> {{ player.get_best_position() }}</span>
                            <span class="player-row-span"> ·<i class="fas fa-baby-carriage"></i> {{ player.get_age() }}</span>
                        </div>
                    </td>
                    <td>{{ performance_indices['games'] }}</td>
                    <td>{{ performance_indices['goals'] }}</td>
                    <td>{{ performance_indices['assists'] }}</td>
                    <td>{{ '{0:.2f}'.format(performance_indices['performance_index']) }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>